.project_title{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width:70%;
}
.project_title div{
    line-height: 2px;
    font-size: 15px;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project_description{
    width:60%;
}